.c-datasets-card {
  // Colors
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 8px;
  border: 1px solid $border-color-1;
  cursor: pointer;

  &:hover {
    background: $color-tertiary;
  }

  &.-selected {
    background: $color-tertiary;
  }

  h3 {
    font-size: 16px;
    color: $color-secondary;
    margin: 0;
  }

  p {
    color: $color-text-1;
    margin: 0;
  }
}
