.l-container {
  width: 100%;
  // NOTE: relative position break the tooltip of the widget editor
  // do not de-comment the line without a solution for this
  position: static; // We force the position to static to override some rule
  // max-width: $grid-row-width;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 (map-get($grid-column-gutter, small)/2);

  @media screen and (min-width: map-get($breakpoints, medium)) {
    // max-width: map-get($breakpoints, medium);
  }

  @media screen and (min-width: map-get($breakpoints, large)) {
    // max-width: map-get($breakpoints, large);
    padding: 0 (map-get($grid-column-gutter, medium)/2);
  }

  @media screen and (min-width: map-get($breakpoints, xlarge)) {
    // max-width: 1080px;
    max-width: 100%;
  }

  &.-expanded {
    max-width: 100%;
  }
}

.row {
  flex: 1;
  max-width: 71rem;
}
