.c-breadcrumbs {
  display: flex;
  width: 100%;
  padding: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2px;

  .item {
    position: relative;
    list-style: none;
    margin-right: 20px;

    > a, > span {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: $white;
      fill: $white;
      text-decoration: none;

      > * {
        margin-right: 5px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    > a {
      color: $active-font-color;
      fill: $active-font-color;
      cursor: pointer;

      &:hover {
        color: darken($active-font-color, 10%);
        fill: darken($active-font-color, 10%);
      }
    }
  }

  &.-theme-app {
    justify-content: center;
    font-family: $body-font-family;

    .item {
      position: relative;
      margin-right: 10px;
      padding-right: 10px;
      text-transform: uppercase;

      &:after {
        content: "-";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(50%,-50%);
      }

      &:last-child {
        margin-right: 0;
        padding-right: 0;

        &:after {
          display: none;
        }
      }

      > a, > span {
        font-size: 11px;
        font-weight: 700;
        color: $white;
        fill: $white;

        > * {
          margin-right: 5px;

          &:last-child {
            margin-right: 0;
          }
        }

        svg {
          display: none;
        }
      }

      > a {
        color: $white;
        fill: $white;

        &:hover {
          color: darken($white, 10%);
          fill: darken($white, 10%);
        }
      }
    }
  }
}
