.c-header-dropdown {
  position: fixed;
  background-color: $color-white;
  border-radius: 4px;
  border: 1px solid $border-color-1;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
  z-index: 1000;

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    pointer-events: none;
    border-top: 8px solid transparent;
    border-bottom: 8px solid $color-white;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    transform: translate(-50%, -100%);
  }

  .header-dropdown-list {
    list-style: none;
    margin: 0;
    padding: $margin-size-small;
    text-align: center;
    line-height: 1;

    .header-dropdown-list-item {
      white-space: nowrap;
      margin: 1rem 0;
      font-weight: 700;
      text-transform: uppercase;

      > a {
        text-decoration: none;
        color: $yellow;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

}
